et-xmlfile==1.0.1
Flask==0.10.1
itsdangerous==0.24
jdcal==1.2
Jinja2==2.8
lxml==3.6.0
MarkupSafe==0.23
openpyxl==2.3.5
requests==2.10.0
Werkzeug==0.11.9
-e git+git@github.com:patstovepipe/h-and-s.git@03450bb87c133e8a946301ea0545d82512b28d5a#egg=xlrd&subdirectory=packages/xlrd
XlsxWriter==0.8.9
xlwt==1.0.0
