{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('webscrape') }}" method=post class=webscrape>
      <dl>
        <dt>Enter URL:
        <dd><input type=text size=30 name=url>
        <dt>Enter tag:
        <dd><input type=text size=10 name=tag>
        <br><br>
        <dd><input type=submit value=Scrape> <span style="font: 13.3333px Arial;"> - enter a url and what tag you want to get data from</span>
      </dl>
    </form>
  <ul class=htmlrows>
  {% for row in htmlrows %}
    <li>{{ row }}
  {% else %}
    <li>Nothing here...
  {% endfor %}
  </ul>
{% endblock %}
